html, body {
  background-color: #e8e9d9;
  color: #020403;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: auto !important;
}

.navbar {
  padding-inline: 5vw;
  border-bottom: 4px solid #020403;
  background-color: #e8e9d9e5;
}

.navbar-brand {
  font-weight: 800;
}

.navbar-brand-img {
  width: 1.5rem;
  filter: contrast(1.2) drop-shadow() saturate(1.3);
}

.nav-link {
  border-radius: 8px;
  transition: background-color 0.35s color 0.35s;
}

.nav-link:hover {
  background-color: #020403;
  color: #e8e9d9 !important;
}

.navbar-toggler {
  background-color: #020403;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.menu-icon, .close-icon {
  background-color: #020403;
  color: #e8e9d9;
}

/* hides close icon when menu is closed */
.navbar-toggler .close-icon {
  display: none;
}

/* hides menu icon and shows close icon when menu is open */
.navbar-toggler:not(.collapsed) .menu-icon {
  display: none;
}

.navbar-toggler:not(.collapsed) .close-icon {
  display: inline-block;
}

section {
  padding-inline: 10dvw;
  padding-bottom: 5vh;
}

h1, h2, h5, h6 {
  margin-bottom: 0px;
}

.section-header {
  font-family: "League Spartan", sans-serif;
  font-weight: 900;
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: 1;
}

footer {
  background-color: #020403;
  color: #e8e9d9;
}

.social-icon {
  fill: #e8e9d9;
  width: 1.8rem;
}

.social-icon:hover {
  fill: #d6d9ad;
}

.footer-text {
  font-size: clamp(0.2rem,3vw,0.7rem);
}