#contact-form {
  /* border: 1px solid #020403; */
  border-radius: 5px;
  box-shadow: 0px 0px 10px #0204036b;
}

.form-label {
  background-color: #020403;
  color: #e8e9d9;
  font-size: clamp(0.5rem,3.5vw,0.9rem);
  padding-block: 0.2rem;
  padding-inline: 0.5rem;
  border: none;
  border-radius: 8px;
}

.form-control, .form-select {
  background-color: #e8e9d9;
  color: #020403;
  border: 1px solid #020403;
  font-size: clamp(0.5rem,3vw,0.8rem);
  padding-block: 0.2rem;
  border-radius: 0px;
}

.form-control:focus, .form-select:focus {
  background-color: #d6d9ad;
  box-shadow: none;
  border: solid #020403;
}

.submit-form {
  background-color: #020403;
  color: #e8e9d9;
  border: none;
  border-radius: 35px;
  font-size: small;
  padding-inline: 1rem;
  box-shadow: 0px 0px 4px #0204037e;
  transition: background-color 0.35s color 0.35s box-shadow 0.35s;
}

.form-submit:hover {
  cursor: pointer;
  background-color: #020403c1;
  color: #e8e9d9;
}

.form-submit:active {
  background-color: #a0c9c9;
  color: #020403;
}

.form-submit:focus {
  box-shadow: none;
}

@media (min-width: 768px) {
  #contact-form {
    width: 50dvw;
  }
}